{% extends "base.html" %}


{% block content %}
<div class="max-w-screen-xl mx-auto">
    
    <div class="flex flex-col items-center">

        <a href="/strong_connectivity" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
        <div class="card m-4 flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-contain rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-s-lg p-2" src="/static/images/sort.png" alt="" style="max-width: 150px; max-height: 150px;">
            <div class="text-content flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-800 text-center dark:text-white">Разбиение графа на компоненты сильной связности</h5>
                <p class="mb-3 text-sm font-normal text-gray-600 dark:text-gray-400">Алгоритм Мальгранжа</p>
                <p class="mb-3 text-sm font-normal text-gray-600 dark:text-gray-400">Алгоритм Косарайю</p>
            </div>
        </div>
        </a>


        <a href="/topological_sort" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
        <div class="card m-4 flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-contain rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-s-lg p-2" src="/static/images/sort.png" alt="" style="max-width: 150px; max-height: 150px;">
            <div class="text-content flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-800 text-center dark:text-white">Топологическая сортировка ориентированного графа</h5>
                <p class="mb-3 text-sm font-normal text-gray-600 dark:text-gray-400">Алгоритм Демукрона</p>
                <p class="mb-3 text-sm font-normal text-gray-600 dark:text-gray-400">Метод поиска в глубину</p>
            </div>
        </div>
        </a>

        <a href="/minimal_spanning_tree" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
            <div class="card m-4 flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-contain rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-s-lg p-2" src="/static/images/sort.png" alt="" style="max-width: 150px; max-height: 150px;">
            <div class="text-content flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-800 text-center dark:text-white">Нахождение минимального остова неориентированного графа</h5>
                <p class="mb-3 text-sm font-normal text-gray-600 dark:text-gray-400">Алгоритм Краскала</p>
                <p class="mb-3 text-sm font-normal text-gray-600 dark:text-gray-400">Алгоритм Прима</p>
            </div>
        </div>
        </a>

        <a href="/shortest_path" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
            <div class="card m-4 flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-contain rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-s-lg p-2" src="/static/images/sort.png" alt="" style="max-width: 150px; max-height: 150px;">
            <div class="text-content flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-800 text-center dark:text-white">Нахождение кратчайшего пути в графе</h5>
                <p class="mb-3 text-sm font-normal text-gray-600 dark:text-gray-400">Алгоритм Дейкстры</p>
                <p class="mb-3 text-sm font-normal text-gray-600 dark:text-gray-400">Алгоритм Беллмана - Форда</p>
                <p class="mb-3 text-sm font-normal text-gray-600 dark:text-gray-400">Алгоритм Флойда - Уоршелла</p>
            </div>
        </div>
        </a>

    </div>
</div>

{% endblock %}