<!--эта страница для ввода матрицы-->

{% extends "base.html" %}


{% block content %}

<div class="max-w-screen-xl mx-auto">
    <div class="flex flex-col items-center">
        <div class="flex items-center mb-5">
            <h1 id="ml" class="algorithmTitle text-3xl font-bold text-gray-900 dark:text-white">Алгоритм Мальгранжа</h1> <!--id - dm - Демукрон-->
            <div class="relative ml-4">
                <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" class="text-white bg-blue-700 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-xs px-3 py-1.5 text-center inline-flex items-center dark:bg-transparent dark:hover:bg-blue-700 dark:focus:ring-blue-800 mr-2" type="button">▼</button>
                <div id="dropdownHover" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow absolute top-full right-0 mt-2">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" onclick="changeTemplate('ml', 'Алгоритм Мальгранжа')">Алгоритм Мальгранжа</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" onclick="changeTemplate('ks', 'Алгоритм Косарайю')">Алгоритм Косарайю</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
    <div class="flex flex-col justify-center items-center">
        <div id="matrix_size_div" class="flex flex-col justify-center items-center mb-5 w-3/5">
            <div class="w-full mb-5">
                <label id ="label_size_of_matrix" for="size_of_matrix" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select size of Matrix: 6</label>
                <input id="range_size_of_matrix" onchange="change_Size(this)" type="range" min="2" max="10" value="6" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
            </div>
            <div>
                <button onclick="show_matrix(true, true)" type="button" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Select</button>
            </div>
        </div>
        <!--изменил ширину блока-->
        <div id="matrix_input" class="flex flex-col justify-center items-center mb-5 w-3/5" style="width: 100px">
        </div>
    </div> 
</div>


{% endblock %}